name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build_and_publish:
    permissions:
      id-token: write
      contents: read

    environment: prod
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build backend
        run: pip install build

      - name: Build project (sdist + wheel)
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: dist
          skip-existing: true
          verify-metadata: true
